<h6>
Edit Course 
</h6>

<%#= display_errors_for(@student)%>
<%= form_for(@course) do |f|%>
   <div> <%=f.label :course_name, "Course Name"%>
    <%=f.text_field :course_name%></div>
    <br><br>
   <div> <%=f.label :profesor_name, "Profesor Name:"%>
    <%=f.text_field :profesor_name%></div>
    <br><br>
    <div> <%=f.label :course_length, "Course Length:"%>
    <%=f.text_field :course_length%></div>
    <br><br>
    <div> <%=f.label :number_videos, "Number of Videos:"%>
    <%=f.text_field :number_videos%></div>
    <br><br>
  <div style="border: 2px solid red; 
  border-radius: 25px; text-align:center; background-color:orange;">
  <%=f.submit "Update course"%></div>
<%end%>