# <h6 style ="background-color:#0B103D; color: white;border: 2px solid red; 
# border-radius: 25px; text-align:center;"> 

# Reviews
# </h6>

<h6>Reviews</h6>
<button> <%=link_to "Add a review", new_review_path%></button>

<%@reviews.each do |reviewed|%>
    <div style ="background-color:#0B103D; color: white;border: 2px solid red; 
    border-radius: 25px; text-align:center; display-style:none;">


    <span>Rating :<%=reviewed.ratings%></span><br>
    <span>Comments: <%= reviewed.comments%></span>
    <h6>Reviewed</h6>
    <p><%=link_to 'review', review_path(reviewed)%>
     <span> For<%=link_to reviewed.course.profesor_name, course_path(reviewed.course)%></span><br>
     <span> By<%=link_to reviewed.student.studentID, student_path(reviewed.student)%></span>
     </p>
    <%end%>
    </div>